/*
!/.github/
!/.gitignore
!/.stow-local-ignore
!/.oxfmtrc.json
!/AGENTS.md
!/LICENSE
!/README.md
!/keybindings.json
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/settings.json
!/tsconfig.json

!/themes/
!/themes/*.json

!/extensions/
/extensions/*
!/extensions/footer.ts
!/extensions/notion.ts
!/extensions/usage.ts
!/extensions/working-message.ts
!/extensions/guardrails/
!/extensions/guardrails/**
!/extensions/tests/
!/extensions/tests/**

!/skills/
/skills/*
!/skills/commit/
!/skills/commit/SKILL.md
!/skills/create-pr/
!/skills/create-pr/SKILL.md
!/skills/deslop/
!/skills/deslop/LICENSE
!/skills/deslop/SKILL.md
!/skills/review/
!/skills/review/SKILL.md
