/*
/.scratch/
!/.github/
!/.gitignore
!/.stow-local-ignore
!/.oxfmtrc.json
!/AGENTS.md
!/LICENSE
!/README.md
!/keybindings.json
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/settings.json
!/tsconfig.json

!/themes/
!/themes/*.json

!/extensions/
/extensions/*
!/extensions/diff-review/
!/extensions/diff-review/**
!/extensions/footer.ts
!/extensions/notion.ts
!/extensions/response-editor.ts
!/extensions/usage.ts
!/extensions/working-message.ts
!/extensions/slack/
!/extensions/slack/**
!/extensions/guardrails/
!/extensions/guardrails/**
!/extensions/subagent/
!/extensions/subagent/**
!/extensions/tests/
!/extensions/tests/**

!/agents/
/agents/*
!/agents/code-reviewer.md
!/agents/plan-reviewer.md

!/prompts/
/prompts/*
!/prompts/review-code-pass.md
!/prompts/review-plan-pass.md

!/skills/
/skills/*
!/skills/commit/
!/skills/commit/SKILL.md
!/skills/create-pr/
!/skills/create-pr/SKILL.md
!/skills/deslop/
!/skills/deslop/LICENSE
!/skills/deslop/SKILL.md
!/skills/review/
!/skills/review/SKILL.md
